<%= simple_form_for @comment, remote: true do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@comment.errors.count, "error") %>
        prohibited this comment from being saved:
      </h2>

      <ul>
        <% @comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :idea_id %>
  <%= f.input :body, label: t( '.body_label' ) %>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
